<h1> Look at me I'm Mr. MasterSave! </h1>
<p> <b> <%= @products.length %> </b> products in the <b> <%= @store %> DB. </b> </p>
<p> Should be no more than <b> <%= @products.first.total %> <b/> items.  Otherwise it's fked up.  </p>