<h1>Where do you shop?</h1>

<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/albertsons"><button type="submit">Everywhere</button></form>
<br>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/walmart"><button type="submit">Walmart</button></form>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/albertsons"><button type="submit">Albertsons</button></form>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/heb"><button type="submit">HEB</button></form>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/hyvee"><button type="submit">HyVee</button></form>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/kroger"><button type="submit">Kroger</button></form>
<form method="get" action="https://rails-tutorial2-chriscma.c9users.io/stores/everywhere/meijer"><button type="submit">Meijer</button></form>