<h1> Albertsons Save Page </h1>
<br>
<h3><%= @products.length %> products in the Albertson DB</h3>
<p> Should be no more than <%= @productsLength %> items.  Current count is <%= @products.length %>.   </p>


