<h1> Should be the HEB Save Page </h1>
<br>
<h3><%= @products.length %> products in the HEB DB</h3>
<h3><%= @values.length %> values in the HEB DB</h3>
<br>
<p> Should be no more than <%= @productsLength %> items.  Current count is <%= @products.length %>.   </p>



<!--<h3><= @products.length %> products in the HEB DB</h3>-->
<!--<p> Should be no more than <= @products.first.total %> items.  Current count is <= @products.length %>  </p>-->